<!DOCTYPE html>
<html lang = "en" xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1 > 
User is <span th:style ="${isActive}?'color:green':'color:red'"
th:text = "${isActive}?'ACTIVE':'NOT ACTIVE'"> </span></h1>

<h1 th:if ="${gender}== 'M'">Male</h1>
<h1 th:unless ="${gender}== 'M'">female</h1>

<div th:switch = "#List.size(li)">
<h1 th:case = "'0'">Size of list is zero</h1>
<h1 th:case = "'1'">Size of list is one</h1>
<h1 th:case = "*">Size of list is more than one</h1>



</div>

</body>
</html>